# Default configurations for the Spore Service


# This is the queried Spore server's address.
address=127.0.0.41:8099/eaasp

# This is the challenge mechanism.
# `random-<n>` will generate a random challenge of n bytes where 16 < n < 64.
# `suppress` will suppress the use of a challenge.
challenge=random-64

# This value indicates the freshness tolerance window in seconds.
# A value of 0 means the freshness will not be verified.
freshnessWindow=60

# This value indicates whether or not the signature should be verified.
# Set to false if the signature should not be verified.
verify=True